.sans {
  font-family: var(--helvetica-neue);
}

.serif {
  font-family: var(--apple-garamond);
}

.title {
  @apply text-[26px] md:text-[40px];
  line-height: 40px;
  font-weight: 300;
  &-italic {
    font-style: italic;
  }
}

.text-button-oval {
  font-size: 24px;
  font-weight: 300;
  line-height: 27.46px;
}

.allcaps-18 {
  font-size: 18px;
  line-height: 20px;
}

.allcaps-14 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}

.allcaps-12 {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}

.title-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.text-darkCharcoal {
  color: $n-dark-charcoal !important;
}