.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #FFFFFF;
  transform-origin: bottom right;
  transition: transform .25s ease-out;
}