.banner {
  background-image: url(/image/home/home-journal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-overlay {
  top: 0px;
  left: 0px;
  background: #00000066;
}